svg {
    cursor: pointer;
    //border: 5px solid #ccc;
    width: 135px;
    height: 135px;
  }
  
  /* svg path {
    animation: dash 3s linear 1s forwards; 
  } */

  .doit {
    animation: dash 5s linear 2s  forwards;
  }
  
  svg path {
     stroke-dasharray: 770;
     stroke-dashoffset: 770;
  }
  
  @keyframes dash {

    100% {
      stroke-dashoffset: 0;
    }
    
  }

  @keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.doittoo {
    animation: gradient 15s ease infinite;
}